// *****************************
// +++++++ $TIPOGRAFIA ++++++
// *****************************
@font-face {
    font-family: 'HelveticaNeueMedium';
    src: url('../assets/fonts/HelveticaNeueMedium.woff');
}
@font-face {
    font-family: 'HelveticaNeueLightItalic';
    src: url('../assets/fonts/HelveticaNeueLightItalic.woff');
}

@font-face {
    font-family: 'HelveticaNeueBoldItalic';
    src: url('../assets/fonts/HelveticaNeueBoldItalic.woff');
}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../assets/fonts/HelveticaNeueBold.woff');
}

a{
    text-decoration: none;
}
